<form action="" method=post>

	<p>
		You are about to associate your user account with your {{provider_title}} account.
		After this, you can log in using that account. Are you sure?
	</p>

	<input type=hidden name=provider value="{{provider_name}}">

	<a href="/user">Cancel</a>
	<button type=submit>Confirm</button>

</form>
