<form action="" method=post>

	<dt>
		Are you sure you would like to delete your account? Your account will be deleted and you will not be able to log in.
	</dt>
	<dd>
		<label><input type=checkbox name="{{name}}" value="{{id}}" />I understand and wish to proceed.</label>
	</dd>

	<dd><input type=submit value="Delete Account" /></dd>

</form>
