<form action="" method=post>

	{{#has_errors}}
	<ul class=errors>
		{{#errors}}
		<li><label for="{{key}}">{{error}}</label></li>
		{{/errors}}
	</ul>
	{{/has_errors}}

	<dl>

		{{#username}}
		<dt>
			<label for="{{id}}">{{label}}</label>
			{{#has_error}}<label for="{{id}}" class=error>{{error}}</label>{{/has_error}}
		</dt>
		<dd>
			<input name="{{name}}" value="{{value}}" id="{{id}}"{{#has_error}} class="highlight bad"{{/has_error}} />
		</dd>
		{{/username}}

		{{#email}}
		<dt>
			<label for="{{id}}">{{label}}</label>
			{{#has_error}}<label for="{{id}}" class=error>{{error}}</label>{{/has_error}}
		</dt>
		<dd>
			<input name="{{name}}" value="{{value}}" id="{{id}}"{{#has_error}} class="highlight bad"{{/has_error}} />
		</dd>
		{{/email}}

		<dt>
			Roles
		</dt>
		<ul>
			{{#roles}}
			<li>{{description}}</li>
			{{/roles}}
		</ul>

		<dd><input type=submit value="Save" /></dd>
	</dl>

</form>
