<form action="" method=post>

	{{#has_errors}}
	<ul class=errors>
		{{#errors}}
		<li><label for="{{key}}">{{error}}</label></li>
		{{/errors}}
	</ul>
	{{/has_errors}}

	<dl>

		{{#password}}
		<dt>
			<label for="{{id}}">{{label}}</label>
			{{#has_error}}<label for="{{id}}" class=error>{{error}}</label>{{/has_error}}
		</dt>
		<dd>
			<input type=password name="{{name}}" id="{{id}}"{{#has_error}} class="highlight bad"{{/has_error}} />
		</dd>
		{{/password}}

		{{#confirm}}
		<dt>
			<label for="{{id}}">{{label}}</label>
			{{#has_error}}<label for="{{id}}" class=error>{{error}}</label>{{/has_error}}
		</dt>
		<dd>
			<input type=password name="{{name}}" id="{{id}}"{{#has_error}} class="highlight bad"{{/has_error}} />
		</dd>
		{{/confirm}}

		<dd><input type=submit value="Save" /></dd>
	</dl>

</form>
